@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1220px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .max-container {
      max-width: 688px;
      margin: 0 auto;
    }
  }

  @media (max-width: 320px) {
    .max-container {
      max-width: 288px;
      margin: 0 auto;
    }
  }
}